$pink: #FF6695;
$white: #ffffff;
$white-smoke: #f0eeee;
$off-white: #fafafa;
$blue: #416FD6;
$black: #000000;
$grey: #A9A9A9;
$gray94: #EEE;
$light-gray: #F8F8F8;
$medium-gray: #D3D3D3;
$dark-gray: #BDBDBD;
$light-grey: #F0F0F0;
$light-black:#4a4a4a;
$medium-black: #424242;
$blue-gray: #263238;
$light-red: #FFCCCC;
$darkest-gray: #666666;
$light-green: #569D2D;
$green:#68D541;
$yellow:#FCCA34;